@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 32px;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}
/* ====================================*/
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/pattern-curve.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.content-card {
  width: 100%;
  max-width: 1440px;
  height: 800px;
  padding: 0 165px;
  display: flex;
  align-items: center;
  position: relative;
}
.left-content {
  width: 58%;
  height: 350px;
  padding: 70px 0;
  z-index: 100;
  background-image: url(imgs/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position-x: 100px;
}

.left-content .footer-text {
  margin-top: 50px;
  font-size: 0.7rem;
}
.footer-text .name {
  color: var(--Dark-Blue);
  font-weight: 700;
}
.footer-text span:last-child {
  color: var(--Grayish-Blue);
}
.right-content {
  width: 58%;
  height: 100%;
  background-image: url(imgs/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-position-y: 2rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.right-content img {
  position: absolute;
  right: 165px;
  border-radius: 10px;
}
.right-content .slider {
  position: absolute;
  width: 120px;
  height: 60px;
  bottom: 105px;
  left: 190px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1.2rem 2.5rem -0.6rem rgba(43, 51, 94, 0.4);
}
.slider::before {
  font-family: "Font Awesome 5 Free"; /* Specify Font Awesome font-family */
  font-weight: 700;
  content: "\f053";
  position: absolute;
  top: 13px;
  left: 15px;
  cursor: pointer;
  color: var(--Grayish-Blue);
}
.slider::after {
  font-family: "Font Awesome 5 Free"; /* Specify Font Awesome font-family */
  font-weight: 700;
  content: "\f054";
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
  color: var(--Grayish-Blue);
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }
  .content-card {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0px;
  }
  .right-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-position-x: 0rem;
    background-position-y: 1rem;
  }
  .right-content img {
    position: relative;
    right: 0;
    width: 250px;
    height: 250px;
  }
  .right-content .slider {

    bottom: 56px;
    left: 115px;
    
  }
  .left-content {
    width: 100%;
    height: 100%;
    font-size: 0.5rem;
    text-align: center;
    padding: 30px 0;
    
  }
  .left-content span{
    display: block;
    font-size: 0.5rem;
    margin-top: 10px;
  }
}
